.root {
    -fx-violet-color: #191629;
    -fx-ligthv-color: #413b6b;
    -fx-darkblue-color: #5c65c0;
    -fx-darkblueII-color: #9b9bbb;
    -fx-white-color: #ffffff;
    -fx-grey-color: #b7b7b7;
}

.main {
    -fx-background-color: linear-gradient(to bottom right, -fx-violet-color, -fx-darkblue-color);
}

.form_group {
    -fx-border-width: 2px;
    -fx-border-color: #9b9bbb;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}


.header_form {
    -fx-background-color: #9b9bbb;
    -fx-border-radius: 20px 0px 20px 0px;
    -fx-background-radius: 20px 20px 0px 0px;
}

.proveedores_tag {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-white-color;
}

.tag_form {
    -fx-text-fill: -fx-violet-color;
    -fx-font-weight: bold;
    -fx-background-color: none;
    -fx-font-size: 20px;
}

.description_area {
    -fx-border-width: 0px 1px 1px 1px;
    -fx-padding: 10px;
    -fx-background-color: #9b9bbb;
    -fx-background-radius: 0px 0px 20px 20px;
    -fx-border-radius: 0px 0px 20px 20px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif
}

.description_area .content {
    -fx-background-color: -fx-ligthv-color; /* Fondo interno */
    -fx-background-insets: 0;
    -fx-padding: 10px;
}


.text-field {
    -fx-background-color: -fx-darkblueII-color;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: -fx-ligthv-color;
    -fx-border-width: 2;
    -fx-padding: 8 15;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-prompt-text-fill: -fx-grey-color;
}

.text-field:focused {
    -fx-border-color: -fx-darkblue-color;
}

.text-field .text {
    -fx-font-weight: bold;
}

.text-input {
    -fx-prompt-text-fill: -fx-grey-color;
}