.root {
    /* COLORS: -------------------------------------------------------------------------------- */
    -fx-violet-color: #191629;

    /*-fx-background: #ca4e44;*/
    /* FONTS: --------------------------------------------------------------------------------- */
    /* : -------------------------------------------------------------------------------------- */
}


    /* UTILITIES: ----------------------------------------------------------------------------- */
.border_maker_blue, .border_maker {
    -fx-border-width: 1px;
}

.border_maker {
    -fx-border-color: #ca4e44;

}

.border_maker_blue {
    -fx-border-color: #74c7ec;

}

.catalogo  {

    -fx-background-color: #ffffff;
}

    /* : ----------------------------------------------------------------------------- */

.main {
    -fx-background: #ffffff;
}

.input-field {
}

.header {/*
    -fx-border-width: 1px;
    -fx-border-color: red;*/
    -fx-background-color: -fx-violet-color;
    -fx-border-radius: 0px 0px 0px 20px;
    -fx-backgroundround-radius: 0px 0px 0px 20px;
}

.img {/*
    -fx-border-width: 1px;
    -fx-border-color: blue;*/
}

.left, .right {/*
    -fx-border-width: 1px;
    -fx-border-color: red;*/
}

.btn_container {
    /*-fx-border-width: 2px;
    -fx-border-color: -fx-violet-color;*/
}

.decoration {
    -fx-background-image: url("../icons/decoration.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}